<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ohm_arduino_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
<userSettings>
        <ohm_arduino_gui.Properties.Settings>
                <setting name="line1CPU" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="line1CPUClock" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="line1GPU" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="line1GPUClock" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="line1RAM" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="line2CPU" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="line2CPUClock" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="line2GPU" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="line2GPUClock" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="line2RAM" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="switchTimer" serializeAs="String">
                        <value>10</value>
                </setting>
                <setting name="R" serializeAs="String">
                        <value>255</value>
                </setting>
                <setting name="G" serializeAs="String">
                        <value>20</value>
                </setting>
                <setting name="B" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Brightness" serializeAs="String">
                        <value>255</value>
                </setting>
                <setting name="Rainbow" serializeAs="String">
                        <value>False</value>
                </setting>
        </ohm_arduino_gui.Properties.Settings>
    </userSettings>
</configuration>
